#carousel{
  display: flex;
  flex-direction:row;
  justify-content: space-between;
}

.main-img{
  width:450px;
  height:300px;
  background-color: grey;
  margin:.2%;
}

.prev-btn{
  background-color: yellow;
  width:80px;
  height:100px;
}

.next-btn{
  background-color: green;
  width:80px;
  height:100px;
}
